/* custom font faces */
@font-face {
    font-family: "cg-m";
    src: url("/fonts/CabinetGrotesk-Medium.woff");
}
@font-face {
    font-family: "cg-b";
    src: url("/fonts/CabinetGrotesk-Bold.woff");
}


*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
    font-family: 'General Sans', sans-serif;
}

/* price title styling */
.pricing-title{
    height: 3rem !important;
    position: relative;
}

.money-symbol{
    position: absolute;
    top: 30px;
}
.par-month{
    position: relative;
    top: 60px;
}

.check-domain-section{
    background-image: url('/images/bg.svg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* service image flip */
service-left img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* console image flip */
.console-image{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.domain-title{
    font-family: 'cg-m' !important;
}
.domain-paragraph{
    font-family: 'cg-m' !important;
}

/* testimonial section styling */
.testimonial{
    background-image: url('/images/bg.svg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.testimonial-details{
    font-family: 'cg-m';
}

/* footer section styling */
.hosting a, .Domain a, .Information a, .Company a{
    display: block;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
}

a.font-normal.text-base.text-gray-500.hover\:text-red-500{
    margin-bottom: .4rem;
}

.legal-title, .help-title{
    margin-top: 2rem !important;
}

