*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
    font-family: 'General Sans', sans-serif;
}

/* price title styling */
.pricing-title{
    height: 3rem !important;
    position: relative;
}

.money-symbol{
    position: absolute;
    top: 30px;
}
.par-month{
    position: relative;
    top: 60px;
}

.check-domain-section{
    background-image: url('/images/domain.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}